:root
  --bgRed: rgba(231, 76, 60, 0.3)
  --bgGreen: rgba(0, 188, 140, 0.3)

.fc .fc-today
  &.fc-day-header, .fc-day-number
    background: var(--yellow)

.op-5
  opacity: 0.5

.modal
  background: rgba(0,0,0,0.5)
  *
    pointer-events: inherit !important
